.at-labourcost-report {

  .labourcost-table {
    width: 100%;
    margin-top:50px;
    color: #A6ABAE;
    font-size: 13px;
    font-weight: 500;

    th {
      text-align: left;
      text-transform: uppercase;
      color: #A6ABAE;
      font-size: 12px;
      font-weight: 300;
      padding-right: 15px;

      .icon {
        font-size: 13px;
        color: #BB5555;
      }
    }

    td {
      padding: 10px 15px 10px 0;
    }

    tfoot {
      text-transform: uppercase;
      color: @dark-deep-grey-color;

      td:first-child {
        text-align: right;
      }
    }

    .separator {
      height:20px;
    }

    .divider {
      border-right: 1px solid #dde2e5;
    }

    .figures {
      text-align: right;
    }

    .bigger {
      font-size: 1.5rem;
      font-weight: 100;
    }

    .stronger {
      color: @dark-deep-grey-color;
    }
  }
}